<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/dashboard-fragments :: link">
<meta charset="UTF-8">
<title></title>
</head>
<body>

<div class="wrapper ">
  	<div th:replace="fragments/elements :: sidebar (name= ${user.name} , cls = 'DASHBOARD')">
  	</div>
    <div class="main-panel" style="height: 100vh;">
      <!-- Navbar -->
      <div th:replace="fragments/elements :: navigation (name = ${user.name})"></div>
      <!-- End Navbar -->
        <div class="content">
        	<div th:replace="fragments/user :: user-details (user = ${user})"></div>
        	
        	<div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Transfer Money</h5>
              </div>
                <div class="card-body">
                <form th:action="@{/transfer-money}" method="post">
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Send Through</label>
                        <select class="form-control" id="cradential"name="use">
                        	<option>Email</option>
                        	<option>Account No</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label id="crad_title">Email</label>
                        <input type="text" class="form-control" id="crad_value" placeholder="Email" name="to">
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Amount</label>
                        <input type="number" class="form-control" placeholder="Amount" name="amount">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <p th:text="${msg}"></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round"><span>Send</span></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
           
      </div>
    <!--  Footer-->
      <div th:replace="fragments/elements :: footer"></div>
    </div>
  </div>

<div th:replace="fragments/dashboard-fragments :: script"></div>

<script>
	var crad = document.getElementById("cradential");
	
	crad.onchange = function(){
		var title = crad.value;
		document.getElementById("crad_title").innerHTML = title;
		document.getElementById("crad_value").placeholder = title;
	};

</script>

</body>
</html>